h3 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.nav-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar {
    position: fixed;
    background-color: #d6a3f4;
    width: 100%;
    z-index: 10;
    opacity: 0.8;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.nav-img {
    max-width: 50px;
    margin: 10px;
    display: inline-block;
    /* float: left; */
}

.nav-link {
    text-decoration: none;
    float: left;
    opacity: 0.7;
    transition: 0.5s;
}

.nav-link:hover {
    opacity: 1;
    transition: 0.1s;
}

.nav-title {
    margin: 30px;
    margin-left: 5px;
    text-align: right;
    color: black;
}

.grid {
    display: flex;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.ElleHacks2023 {
    text-align: center;
    vertical-align: text-top;
    font-size: 90px;
    font-family: Inter;
    left: 300px;
    top: 166px;
    width: 892px;
    height: 116px;
    position: absolute;
    line-height: auto;
    color: #000000;
}

.tagline {
    position: absolute;
    width: 1197px;
    height: 43px;
    left: 235px;
    top: 270px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.register {
    position: absolute;
    left: 650px;
    right: 605px;
    top: 373px;
    bottom: 530px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}

.rectangle {
    border-radius: 37px;
    width: 231px;
    height: 66px;
    background-color: #8872ab;
    top: 340px;
    left: 615px;
    position: absolute;
}

.place_date {
    text-align: center;
    vertical-align: text-top;
    font-size: 32px;
    font-family: Inter;
    left: 510px;
    top: 430px;
    width: 443px;
    height: 84px;
    position: absolute;
    line-height: auto;
    color: #000000;
}

.rectanglep {
    height: 200px;
    background-color: #8872ab;
    border: 1px solid #e5d5ff;
    width: 100%;
    top: 500px;
    position: relative;
    bottom: 200px;
}

div.container {
    position: absolute;
    width: 1450px;
    height: 896px;
    top: 3264px;

    background: #FFFFFF;

}

#aboutus {
    top: 3330px;

}

h2 {
    position: absolute;
    height: 97px;
    width: 497px;
    top: 66px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    line-height: 111px;
    text-align: center;
    display: block;

    color: #DE8EE4;
}

p {
    position: absolute;
    width: 728px;
    height: 582px;
    top: 205px;
    Left: 50px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: block;

    color: #9D45D1;
}

#vector {
    position: absolute;
    width: 528.98px;
    height: 616.78px;
    top: 122px;
    left: 887.02px;

    fill: #DE8EE4;
    mix-blend-mode: darken;
}

#ada {
    position: absolute;
    width: 511.59px;
    height: 662.74px;
    top: 190.26px;
    left: 847px;

    mix-blend-mode: screen;
}

#rect1 {
    position: absolute;
    top: 58px;
    left: 1008px;

    background: #9747FF;
    mix-blend-mode: overlay;
}

#rect2 {
    position: absolute;
    box-sizing: border-box;
    width: 250px;
    height: 258px;
    top: 205px;
    left: 989px;

    background: rgba(217, 217, 217, 0.01);
    border: 3px solid #9D45D1;
}