.two {
    background-color: rgba(247, 247, 247, 1);
}

.aboutus {
    position: absolute;
    width: 467px;
    height: 109px;
    left: 28px;
    top: 984px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 109px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.text {
    position: absolute;
    width: 1233px;
    height: 132px;
    left: 144px;
    top: 1680px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}